name: Build mynsfc package
on: [push]
jobs:
  # build:
  #   runs-on: ubuntu-latest
    
  #   steps:
  #     - name: Checkout Git repository
  #       uses: actions/checkout@v4
  #     - name: Build the package
  #       uses: docker://fredqi/texlive:xelatex
  #       with:
  #         entrypoint: /bin/bash
  #         args: -c make
  #     - name: Check results
  #       run: |
  #         ls -lh mynsfc.pdf
  #         file mynsfc.pdf | grep -q 'PDF'
  
  build:
    runs-on: ubuntu-latest
    container: fredqi/texlive:xelatex
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4
      - name: Install latex packages
        run: tlmgr install metalogo hypdoc
      - name: Build the package
        run: make mynsfc.pdf
      - name: Check results
        run: ls -lh mynsfc.pdf